/* .portfolio{
  width: 100%;
  
}
.portfolio ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.portfolio ul li{
  width: 31%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.portfolio ul li img{
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;


} */

.portfolio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}
.box-p{
  width: 32%;
  min-width: 300px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}
.box-p:hover{
  transform: scale(1.1);
  border: 2px dashed rgb(14, 169, 230);
}
.box-p h1{
  font-size: 20px;
  margin-bottom: 10px;
}
.box-p h1 a{
  color: rgb(5, 133, 192);
  text-decoration: none;
}
.box-p p{
  color: white;
  line-height: 25px;
}
.visited{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  background-color: rgb(14, 169, 230);
  padding: 10px;
  border-radius: 10px;
}

.visited img{
  width: 20px;
}
.visited:hover{
  background-color: rgb(42, 42, 43);
}