@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
 background-color:  #161513;
}
.container{
  margin-left: 10%;
  margin-right: 10%;
}

.btn{
  padding: 10px 22px;
  border-radius: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background: linear-gradient(311deg, #6198d8 10%, #319783 100%);
  
}
.next-icon{
  width: 20px;
  margin-left: 10px;
}
.a-tag-h{
  text-decoration: none;
  color: white;
}
.a-tag-h:hover{
  color: #319783;
}


/* Media Query */
@media (max-width:900px) {
  .container{
    margin-left: 5%;
    margin-right: 5%;
  }
  
}